package ${package.Controller};

import io.swagger.annotations.*;

import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.*;
import org.springframework.beans.factory.annotation.Autowired;

#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 *
 * @author ${author}
 * @since ${date}
 */
@Api(tags = "${table.comment}")
@Slf4j
@RestController
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    @Autowired
    private ${table.serviceName} i${entity}Service;

#if(${restControllerStyle})

    @PostMapping("/")
    @ApiOperation(value = "添加${table.comment}")
    @BussinessLog(value = "添加${table.comment}", action = "添加")
    @RequiresPermissions("sys:${table.entityPath}:add")
    public ResponseVO add(@RequestBody ${entity} entity) {
        return ResultUtil.success(i${entity}Service.save(entity));
    }

    @DeleteMapping("/{id}")
    @ApiOperation(value = "删除${table.comment}")
    @BussinessLog(value = "删除${table.comment}", action = "删除")
    @RequiresPermissions("sys:${table.entityPath}:deleted")
    public ResponseVO delete(@PathVariable Long id) {
        return ResultUtil.success(i${entity}Service.removeById(id));
    }

    @PutMapping("/")
    @ApiOperation(value = "更新${table.comment}")
    @BussinessLog(value = "更新${table.comment}", action = "更新")
    @RequiresPermissions("sys:${table.entityPath}:update")
    public ResponseVO update(@RequestBody ${entity} entity) {
        return ResultUtil.success(i${entity}Service.updateById(entity));
    }

    @GetMapping("/{id}")
    @ApiOperation(value = "获取${table.comment}详细信息")
    @BussinessLog(value = "获取${table.comment}详细信息", action = "获取详细信息")
    @RequiresPermissions("sys:${table.entityPath}:detail")
    public ResponseVO detail(@PathVariable Long id) {
        return ResultUtil.success(i${entity}Service.getById(id));
    }

    @GetMapping("/")
    @ApiOperation(value = "${table.comment}分页")
    @BussinessLog(value = "${table.comment}分页", action = "分页")
    @RequiresPermissions("sys:${table.entityPath}:list")
    public ResponseVO list(@RequestBody BaseVO vo) {
        return ResultUtil.success(i${entity}Service.selectPage(vo));
    }

#else

    @PostMapping("/add")
    @ApiOperation(value = "添加${table.comment}")
    @BussinessLog(value = "添加${table.comment}", action = "添加")
    @RequiresPermissions("sys:${table.entityPath}:add")
    public ResponseVO add(@RequestBody ${entity} entity) {
        return ResultUtil.success(i${entity}Service.save(entity));
    }

    @PostMapping("/delete")
    @ApiOperation(value = "删除${table.comment}")
    @BussinessLog(value = "删除${table.comment}", action = "删除")
    @RequiresPermissions("sys:${table.entityPath}:deleted")
    public ResponseVO delete(@PathVariable Long id) {
        return ResultUtil.success(i${entity}Service.removeById(id));
    }

    @PostMapping("/update")
    @ApiOperation(value = "更新${table.comment}")
    @BussinessLog(value = "更新${table.comment}", action = "更新")
    @RequiresPermissions("sys:${table.entityPath}:update")
    public ResponseVO update(@RequestBody ${entity} entity) {
        return ResultUtil.success(i${entity}Service.updateById(entity));
    }

    @PostMapping("/detail")
    @ApiOperation(value = "获取${table.comment}详细信息")
    @BussinessLog(value = "获取${table.comment}详细信息", action = "获取详细信息")
    @RequiresPermissions("sys:${table.entityPath}:detail")
    public ResponseVO detail(@PathVariable Long id) {
        return ResultUtil.success(i${entity}Service.getById(id));
    }

    @PostMapping("/list")
    @ApiOperation(value = "${table.comment}分页")
    @BussinessLog(value = "${table.comment}分页", action = "分页")
    @RequiresPermissions("sys:${table.entityPath}:list")
    public ResponseVO list(@RequestBody BaseVO vo) {
        return ResultUtil.success(i${entity}Service.selectPage(vo));
    }

#end

}