package ${package.Service};

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.company.project.framework.object.BaseVO;
import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    /**
     *  分页查询
     * @return
     */
    PageResult<${entity}> selectPage(BaseVO vo);

}

